:root {

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100vh;
}

body {
    background-image: url(images/space-galaxy-background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top left;

    display: grid;
    grid-template-areas: 
    'header'
    'content'
    'planet';
}

.headlineArea {
    grid-area: header;
    color: rgba(255, 255, 255, .8);
    font-family: 'Courier New', Courier, monospace;
    margin: 2em;
    text-align: center;
}

.inputArea {
    color: rgba(255, 255, 255, .8);
    grid-area: content;
    margin: 2em;
}

.planetArea {
    grid-area: planet;
}

.display-row {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.display-column {
    display: flex;
    flex-direction: column;
    gap: .5em;
    justify-content: center;
    align-items: center;
}

@media (min-width:1024px) {
    body {
        grid-template-areas: 
        'header header'
        'content planet';
    }
}